:root {
  --main-font-color-dark: black;
  --main-font-color-light: white;
  --font-color-grey: grey;
  --backround-color-dark: hsl(259, 100%, 32%);
  --background-color-light: white;
  --bottom-margin: 80px;
  --font-size-title: 2.4rem;
  --font-size-text: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
}

/*---------- NAV ---------*/
.header {
  width: 100%;
  height: auto;
  margin-bottom: var(--bottom-margin);
  display: flex;
  flex-direction: column;
  background-image: url("/assets/img/Animated\ Shape.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container--nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  color: var(--main-font-color-light);
  font-weight: 200;
  font-size: 1.5rem;
  padding: 20px 0 20px 20px;
}

.navigation {
  margin-right: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.nav--link {
  color: var(--main-font-color-light);
  text-decoration: none;
  margin: 0 10px 0 10px;
  font-weight: 200;
  font-size: 1.2rem;
}

/*---------- BUTTON ---------*/
.btn {
  background-color: var(--background-color-light);
  color: var(--backround-color-dark);
  border-radius: 20px;
  border: none;
  padding: 4px 8px 4px 8px;
  font-size: 1.2rem;
  font-weight: 200;
  cursor: pointer;
  text-align: center;
}

/*---------- HERO ---------*/
.hero {
  min-height: 700px;
  width: auto;
  font-size: 1.5rem;
  color: var(--font-color-grey);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.hero--title {
  font-size: 3rem;
  margin-bottom: 5px;
  color: white;
}

.hero--skills {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

.hero--location {
  font-size: 1rem;
  color: white;
}

/*---------- SOCIALS ---------*/
.socials {
  margin-bottom: var(--bottom-margin);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.social--links {
  font-size: 2rem;
  font-weight: 200;
}

.uil {
  font-size: var(--font-size-text);
  color: var(--backround-color-dark);
}

/*---------- PORTFOLIO ---------*/
.wrapper {
  margin: var(--bottom-margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cards {
  height: auto;
  width: 90%;
  max-width: 800px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 0 5px 2px rgba(242, 242, 242, 0.8);
}

.card--img {
  height: 50px;
  width: 50px;
  margin: 0 0 40px 0;
  border-radius: 8px;
}

.card--text {
  display: flex;
  align-items: space-around;
  flex-direction: column;
  flex-wrap: wrap;
}

.card--title {
  font-weight: 500;
  margin: 0 0 5px 0;
}

.card--description {
  font-weight: 200;
  margin: 0 0 5px 0;
}
