/*__________ MY CURRENT PROJECT ________-*/
.project__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: var(--section-margin);
  padding: 0 20px 0 20px;
}

.project__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.project__list__item {
  list-style: none;
  font-weight: 300;
  width: 350px;
  min-width: 250px;
  padding: 15px 15px 15px 15px;
  font-size: var(--font-size-title-small);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project__list__list {
  padding-left: 25px;
  font-weight: 200;
  font-size: var(--font-size-text);
}
