/*__________ PROFILE-CARD ________-*/
.profile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: var(--section-margin);
}

.profile__wrapper {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  max-width: 800px;
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 30px;
}

.profile__content {
  display: flex;
  flex-flow: column wrap;
}

.profile__title {
  text-align: center;
  font-weight: 200;
  font-size: var(--font-size-title-small);
}

.profile__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

/*.profile__header__content {
}*/

.profile__img {
  background-image: url(/assets/img/SebastianOttow_small.jpeg);
  background-size: cover;
  background-position: 50% 25%;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile__rightside {
  font-size: var(--font-size-text);
}
