<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sebastian Ottow</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/styles/styles.css" />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />

    <!-- ICONSCOUT -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
  </head>
  <body>
    <main>
      <div class="main__wrapper">
        <!-- PROFILE-CARD -->
        <section>
          <article class="profile">
            <div class="profile__card">
              <div class="profile__header">
                <div class="profile__img--bg">
                  <div class="profile__img"></div>
                </div>
                <div class="profile__spotify">
                  <a
                    href="https://open.spotify.com/playlist/2H8nht2zCLbAxFLB7vm85f?si=233683cb40174cb8"
                    target="_blank"
                    ><img
                      src="/assets/img/spotify.svg"
                      alt="spotify playlist: Berlin Electronic Underground"
                  /></a>
                </div>
              </div>
              <div class="profile__body">
                <div class="profile__download">
                  <a
                    class="profile__cv"
                    href="/assets/src/CV Sebastian Ottow_2022_eng.pdf"
                    target="_blank"
                    ><i class="uil uil-file-download-alt"></i>CV</a
                  >
                </div>
                <h2 class="profile__name">Sebastian Ottow</h2>
                <p class="profile__description">
                  Hi, I am Sebastian and welcome to my profile page. I have a
                  history in different business fields as well as different
                  roles which micht make me the perfect fit for your next
                  project.
                </p>
                <ul class="skills">
                  <li class="skills__item">HTML</li>
                  <li class="skills__item">CSS</li>
                  <li class="skills__item">JS</li>
                  <li class="skills__item">REACT</li>
                  <li class="skills__item">SCRUM</li>
                  <li class="skills__item">Agile Methods</li>
                  <li class="skills__item">Responsive Design</li>
                  <li class="skills__item">MongoDB</li>
                  <li class="skills__item">SASS</li>
                  <li class="skills__item">NPM</li>
                </ul>
              </div>
            </div>
          </article>
        </section>
      </div>
    </main>

    <script src="" async defer></script>
  </body>
</html>
